<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Screenings</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button">Screenings</a></li>
                <li class="navigation__item"><a href="/genres" data_test_automation_id="header_genres_button">Genres</a></li>
                <li class="navigation__item"><a href="/waiting" data_test_automation_id="header_random_button">Random Film</a></li>
            </ul>
        </nav>
    </div>  
    <div> <font color="white">-</font></div>
    <div class="grid">
      <a action="/films-number" href="/films-number">#</a>
      <a> - </a>
      <a action="/films-A" href="/films-A">A</a>
      <a> - </a>
      <a action="/films-B" href="/films-B" class="is-active">B</a>
      <a> - </a>
      <a action="/films-C" href="/films-C">C</a>
      <a> - </a>
      <a action="/films-D" href="/films-D">D</a>
      <a> - </a>
      <a action="/films-E" href="/films-E">E</a>
      <a> - </a>
      <a action="/films-F" href="/films-F">F</a>
      <a> - </a>
      <a action="/films-G" href="/films-G">G</a>
      <a> - </a>
      <a action="/films-H" href="/films-H">H</a>
      <a> - </a>
      <a action="/films-I" href="/films-I">I</a>
      <a> - </a>
      <a action="/films-J" href="/films-J">J</a>
      <a> - </a>
      <a action="/films-K" href="/films-K">K</a>
      <a> - </a>
      <a action="/films-L" href="/films-L">L</a>
      <a> - </a>
      <a action="/films-M" href="/films-M">M</a>
      <a> - </a>
      <a action="/films-N" href="/films-N">N</a>
      <a> - </a>
      <a action="/films-O" href="/films-O">O</a>
      <a> - </a>
      <a action="/films-P" href="/films-P">P</a>
      <a> - </a>
      <a action="/films-Q" href="/films-Q">Q</a>
      <a> - </a>
      <a action="/films-R" href="/films-R">R</a>
      <a> - </a>
      <a action="/films-S" href="/films-S">S</a>
      <a> - </a>
      <a action="/films-T" href="/films-T">T</a>
      <a> - </a>
      <a action="/films-U" href="/films-U">U</a>
      <a> - </a>
      <a action="/films-V" href="/films-V">V</a>
      <a> - </a>
      <a action="/films-W" href="/films-W">W</a>
      <a> - </a>
      <a action="/films-X" href="/films-X">X</a>
      <a> - </a>
      <a action="/films-Y" href="/films-Y">Y</a>
      <a> - </a>
      <a action="/films-Z" href="/films-Z">Z</a>
  </div> </header>

  <main>
    <div class="heading" data_test_automation_id="main_heading">
        <h1>B</h1>
    </div>

   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=WK0WjWlVO9w" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/846d8FclibtOIoUW7PxpT0nCG4C.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Barton Fink
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BartonFink">
            <input type="submit" class="ghost-button" value="More Information" href="/BartonFink">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=vco0SpSz17g" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/xozrGME58olN1xBhtxmjpOoY0jH.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Big Hero 6
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-family" href="/genre-family">Family</a>
<a> - </a>
<a> - </a>
<a action="/genre-animation" href="/genre-animation">Animation</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BigHero6">
            <input type="submit" class="ghost-button" value="More Information" href="/BigHero6">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=kGM4uYZzfu0" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BirdsofPrey(andtheFantabulousEmancipationofOneHarleyQuinn)">
            <input type="submit" class="ghost-button" value="More Information" href="/BirdsofPrey(andtheFantabulousEmancipationofOneHarleyQuinn)">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=pFc6I0rgmgY" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/8jxqAvSDoneSKRczaK8v9X5gqBp.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">BlacKkKlansman
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-history" href="/genre-history">History</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BlacKkKlansman">
            <input type="submit" class="ghost-button" value="More Information" href="/BlacKkKlansman">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=2GfBkC3qs78" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/7fU5dSqKRL4XHeEUz62rCKBfYok.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Black Hawk Down
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-history" href="/genre-history">History</a>
<a> - </a>
<a> - </a>
<a action="/genre-war" href="/genre-war">War</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BlackHawkDown">
            <input type="submit" class="ghost-button" value="More Information" href="/BlackHawkDown">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=5jaI1XOB-bs" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/rH19vkjAzCZ0HIUvrgB3rowm68h.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Black Swan
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BlackSwan">
            <input type="submit" class="ghost-button" value="More Information" href="/BlackSwan">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/vfzE3pjE5G7G7kcZWrA3fnbZo7V.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Blade Runner
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BladeRunner">
            <input type="submit" class="ghost-button" value="More Information" href="/BladeRunner">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=gCcx85zbxz4" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/gajva2L0rPYkEWjzgFlBXCAVBE5.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Blade Runner 2049
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BladeRunner2049">
            <input type="submit" class="ghost-button" value="More Information" href="/BladeRunner2049">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=237376690" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ybepnyYmWhP7cp3AMDDCEnHMc2z.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Blue My Mind
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BlueMyMind">
            <input type="submit" class="ghost-button" value="More Information" href="/BlueMyMind">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=0ZbwtHi-KSE" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/cEvYuXA10XrpUwnzbkjb5IByTQM.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Bone Tomahawk
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BoneTomahawk">
            <input type="submit" class="ghost-button" value="More Information" href="/BoneTomahawk">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=oNC3NYWh1vI" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/1rlqd3j5UC4r1TF3UmcKupMyuxR.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Boyhood
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Boyhood">
            <input type="submit" class="ghost-button" value="More Information" href="/Boyhood">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=SVCHSiRWjJM" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/eQfTetzb4DMoI4YnPEcNoUQD63U.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Burn After Reading
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BurnAfterReading">
            <input type="submit" class="ghost-button" value="More Information" href="/BurnAfterReading">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    </main>
  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
