<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Screenings</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button" class="is-active">Screenings</a></li>
                <li class="navigation__item"><a href="/genres" data_test_automation_id="header_genres_button">Genres</a></li>
                <li class="navigation__item"><a href="/random-film" data_test_automation_id="header_random_button">Random Film</a></li>                <li class="navigation__item"><a href="/film-request" data_test_automation_id="header_random_button">Request a Film</a></li>
            </ul>
        </nav>
    </div>  
    <div> <font color="white">-</font></div>
    <div class="grid">
      <a action="/films-number" href="/films-number">#</a>
      <a> - </a>
      <a action="/films-A" href="/films-A">A</a>
      <a> - </a>
      <a action="/films-B" href="/films-B">B</a>
      <a> - </a>
      <a action="/films-C" href="/films-C">C</a>
      <a> - </a>
      <a action="/films-D" href="/films-D">D</a>
      <a> - </a>
      <a action="/films-E" href="/films-E">E</a>
      <a> - </a>
      <a action="/films-F" href="/films-F">F</a>
      <a> - </a>
      <a action="/films-G" href="/films-G">G</a>
      <a> - </a>
      <a action="/films-H" href="/films-H">H</a>
      <a> - </a>
      <a action="/films-I" href="/films-I">I</a>
      <a> - </a>
      <a action="/films-J" href="/films-J" class="is-active">J</a>
      <a> - </a>
      <a action="/films-K" href="/films-K">K</a>
      <a> - </a>
      <a action="/films-L" href="/films-L">L</a>
      <a> - </a>
      <a action="/films-M" href="/films-M">M</a>
      <a> - </a>
      <a action="/films-N" href="/films-N">N</a>
      <a> - </a>
      <a action="/films-O" href="/films-O">O</a>
      <a> - </a>
      <a action="/films-P" href="/films-P">P</a>
      <a> - </a>
      <a action="/films-Q" href="/films-Q">Q</a>
      <a> - </a>
      <a action="/films-R" href="/films-R">R</a>
      <a> - </a>
      <a action="/films-S" href="/films-S">S</a>
      <a> - </a>
      <a action="/films-T" href="/films-T">T</a>
      <a> - </a>
      <a action="/films-U" href="/films-U">U</a>
      <a> - </a>
      <a action="/films-V" href="/films-V">V</a>
      <a> - </a>
      <a action="/films-W" href="/films-W">W</a>
      <a> - </a>
      <a action="/films-X" href="/films-X">X</a>
      <a> - </a>
      <a action="/films-Y" href="/films-Y">Y</a>
      <a> - </a>
      <a action="/films-Z" href="/films-Z">Z</a>
  </div> </header>

  <main>
    <div class="heading" data_test_automation_id="main_heading">
        <h1>J</h1>
    </div>

   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=_WdllLPDmaE" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/bxyVqsv1eiSdJsNb8y0wsmI2cfb.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jason and the Argonauts
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-family" href="/genre-family">Family</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JasonandtheArgonauts">
            <input type="submit" class="ghost-button" value="More Information" href="/JasonandtheArgonauts">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=2AUmvWm5ZDQ" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/h3VxEVUOoBZmo79O8RqKvyGiqmE.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">John Wick
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JohnWick">
            <input type="submit" class="ghost-button" value="More Information" href="/JohnWick">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=Sx1Qm3gavRg" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/nuHPgC5VdhtEguRbIPpSqkxEKrv.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">John Wick: Chapter 2
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JohnWick:Chapter2">
            <input type="submit" class="ghost-button" value="More Information" href="/JohnWick:Chapter2">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=M7XM597XO94" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ziEuG1essDuWuC5lpWUaw1uXY2O.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">John Wick: Chapter 3 - Parabellum
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JohnWick:Chapter3-Parabellum">
            <input type="submit" class="ghost-button" value="More Information" href="/JohnWick:Chapter3-Parabellum">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=tL4McUzXfFI" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/7GsM4mtM0worCtIVeiQt28HieeN.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jojo Rabbit
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-war" href="/genre-war">War</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JojoRabbit">
            <input type="submit" class="ghost-button" value="More Information" href="/JojoRabbit">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=t433PEQGErc" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Joker
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Joker">
            <input type="submit" class="ghost-button" value="More Information" href="/Joker">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=rBxcF-r9Ibs" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/bB42KDdfWkOvmzmYkmK58ZlCa9P.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jumanji: The Next Level
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Jumanji:TheNextLevel">
            <input type="submit" class="ghost-button" value="More Information" href="/Jumanji:TheNextLevel">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=2QKg5SZ_35I" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/22hqf97LadMvkd4zDi3Bq25xSqD.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jumanji: Welcome to the Jungle
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Jumanji:WelcometotheJungle">
            <input type="submit" class="ghost-button" value="More Information" href="/Jumanji:WelcometotheJungle">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=ADjYDl1RCGs" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/tDgxknTVwrScxpCYyGUjXSn5NRk.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jungle
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Jungle">
            <input type="submit" class="ghost-button" value="More Information" href="/Jungle">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=QWBKEmWWL38" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/oU7Oq2kFAAlGqbU4VoAE36g4hoI.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jurassic Park
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JurassicPark">
            <input type="submit" class="ghost-button" value="More Information" href="/JurassicPark">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=RFinNxS5KN4" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/rhr4y79GpxQF9IsfJItRXVaoGs4.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jurassic World
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JurassicWorld">
            <input type="submit" class="ghost-button" value="More Information" href="/JurassicWorld">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jurassic World: Fallen Kingdom
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JurassicWorld:FallenKingdom">
            <input type="submit" class="ghost-button" value="More Information" href="/JurassicWorld:FallenKingdom">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    </main>
  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
