<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Screenings</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button">Screenings</a></li>
                <li class="navigation__item"><a href="/waiting" data_test_automation_id="header_random_button">Random Film</a></li>
            </ul>
        </nav>
    </div>  
    <div> <font color="white">-</font></div>
    <div class="grid">
      <a action="/films-number" href="/films-number">#</a>
      <a> - </a>
      <a action="/films-A" href="/films-A">A</a>
      <a> - </a>
      <a action="/films-B" href="/films-B">B</a>
      <a> - </a>
      <a action="/films-C" href="/films-C"">C</a>
      <a> - </a>
      <a action="/films-D" href="/films-D">D</a>
      <a> - </a>
      <a action="/films-E" href="/films-E">E</a>
      <a> - </a>
      <a action="/films-F" href="/films-F">F</a>
      <a> - </a>
      <a action="/films-G" href="/films-G">G</a>
      <a> - </a>
      <a action="/films-H" href="/films-H">H</a>
      <a> - </a>
      <a action="/films-I" href="/films-I">I</a>
      <a> - </a>
      <a action="/films-J" href="/films-J">J</a>
      <a> - </a>
      <a action="/films-K" href="/films-K">K</a>
      <a> - </a>
      <a action="/films-L" href="/films-L">L</a>
      <a> - </a>
      <a action="/films-M" href="/films-M">M</a>
      <a> - </a>
      <a action="/films-N" href="/films-N">N</a>
      <a> - </a>
      <a action="/films-O" href="/films-O">O</a>
      <a> - </a>
      <a action="/films-P" href="/films-P">P</a>
      <a> - </a>
      <a action="/films-Q" href="/films-Q">Q</a>
      <a> - </a>
      <a action="/films-R" href="/films-R">R</a>
      <a> - </a>
      <a action="/films-S" href="/films-S" class="is-active">S</a>
      <a> - </a>
      <a action="/films-T" href="/films-T">T</a>
      <a> - </a>
      <a action="/films-U" href="/films-U">U</a>
      <a> - </a>
      <a action="/films-V" href="/films-V">V</a>
      <a> - </a>
      <a action="/films-W" href="/films-W">W</a>
      <a> - </a>
      <a action="/films-X" href="/films-X">X</a>
      <a> - </a>
      <a action="/films-Y" href="/films-Y">Y</a>
      <a> - </a>
      <a action="/films-Z" href="/films-Z">Z</a>
  </div> </header>

  <main>
    <div class="heading" data_test_automation_id="main_heading">
        <h1>S</h1>
    </div>

   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=73jSnAs7mq8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/18jsp9dpGnpIluiCLwrFv75pIZR.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Safety Not Guaranteed
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Comedy</a>
<a> - </a>
<a> - </a>
<a>Romance</a>
<a> - </a>
<a> - </a>
<a>Science Fiction</a>
<a> - </a>
<a> - </a>
<a>Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SafetyNotGuaranteed">
            <input type="submit" class="ghost-button" value="More Information" href="/SafetyNotGuaranteed">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=x6t7vVTxaic" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/xj1H3dpEHhouyJNB1lfpkKf9fXX.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Selma
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>History</a>
<a> - </a>
<a> - </a>
<a>Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Selma">
            <input type="submit" class="ghost-button" value="More Information" href="/Selma">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=LiBzbNk0lZ0" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/22ngurXbLqab7Sko6aTSdwOCe5W.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Sherlock Holmes
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Action</a>
<a> - </a>
<a> - </a>
<a>Adventure</a>
<a> - </a>
<a> - </a>
<a>Crime</a>
<a> - </a>
<a> - </a>
<a>Mystery</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SherlockHolmes">
            <input type="submit" class="ghost-button" value="More Information" href="/SherlockHolmes">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=DzPHzAR9GYw" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/7OFqsVuS6DlVM10GUD72vCGpQm9.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Sherlock Holmes: A Game of Shadows
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Adventure</a>
<a> - </a>
<a> - </a>
<a>Action</a>
<a> - </a>
<a> - </a>
<a>Crime</a>
<a> - </a>
<a> - </a>
<a>Mystery</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SherlockHolmes:AGameofShadows">
            <input type="submit" class="ghost-button" value="More Information" href="/SherlockHolmes:AGameofShadows">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=_TL-ZbtvuT8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/dyPEylOnFrcscb33M8ZWPM9qqS3.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Sherpa
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Documentary</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Sherpa">
            <input type="submit" class="ghost-button" value="More Information" href="/Sherpa">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=9382rwoMiRc" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/4nfRUOv3LX5zLn98WS1WqVBk9E9.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Shoplifters
            </h2>
            ja
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Drama</a>
<a> - </a>
<a> - </a>
<a>Crime</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Shoplifters">
            <input type="submit" class="ghost-button" value="More Information" href="/Shoplifters">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=qdPw9x9h5CY" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zumLrxQmbpqhGcjpYcmZ1YXCCvI.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Shutter Island
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Drama</a>
<a> - </a>
<a> - </a>
<a>Thriller</a>
<a> - </a>
<a> - </a>
<a>Mystery</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/ShutterIsland">
            <input type="submit" class="ghost-button" value="More Information" href="/ShutterIsland">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=cuTjBL28l0U" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/sHM6i6se7mwKGRDvW4nQC7dkeKI.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Silence
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Drama</a>
<a> - </a>
<a> - </a>
<a>History</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Silence">
            <input type="submit" class="ghost-button" value="More Information" href="/Silence">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=24mTIE4D9JM" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/lQCkPLDxFONmgzrWLvq085v1g2d.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Skyfall
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Action</a>
<a> - </a>
<a> - </a>
<a>Adventure</a>
<a> - </a>
<a> - </a>
<a>Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Skyfall">
            <input type="submit" class="ghost-button" value="More Information" href="/Skyfall">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=pFfsTsdJfF8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/uZ9dBBn0GaEw0YIBvQd01Io3pho.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Slow West
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Romance</a>
<a> - </a>
<a> - </a>
<a>Thriller</a>
<a> - </a>
<a> - </a>
<a>Western</a>
<a> - </a>
<a> - </a>
<a>Drama</a>
<a> - </a>
<a> - </a>
<a>Action</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SlowWest">
            <input type="submit" class="ghost-button" value="More Information" href="/SlowWest">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=n4sJA-E51bQ" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/8TTniVKEjUWs3DnAMEWMXP6V1ct.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Solaris
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Drama</a>
<a> - </a>
<a> - </a>
<a>Science Fiction</a>
<a> - </a>
<a> - </a>
<a>Mystery</a>
<a> - </a>
<a> - </a>
<a>Romance</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Solaris">
            <input type="submit" class="ghost-button" value="More Information" href="/Solaris">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=VrhoOzW8oF8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/uvNv23Arf2ZYtimiStSB2c1DAEX.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Song of the Sea
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Family</a>
<a> - </a>
<a> - </a>
<a>Animation</a>
<a> - </a>
<a> - </a>
<a>Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SongoftheSea">
            <input type="submit" class="ghost-button" value="More Information" href="/SongoftheSea">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=enH3xA4mYcY" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/peTl1V04E9ppvhgvNmSX0r2ALqO.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Sorry to Bother You
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Fantasy</a>
<a> - </a>
<a> - </a>
<a>Science Fiction</a>
<a> - </a>
<a> - </a>
<a>Comedy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SorrytoBotherYou">
            <input type="submit" class="ghost-button" value="More Information" href="/SorrytoBotherYou">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=ysjwg-MnZao" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/jNvlqNDnXH8aqBeiBxNNP0wWWO3.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Sorry We Missed You
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SorryWeMissedYou">
            <input type="submit" class="ghost-button" value="More Information" href="/SorryWeMissedYou">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=ujmoYyEyDP8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/hE24GYddaxB9MVZl1CaiI86M3kp.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Spectre
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Action</a>
<a> - </a>
<a> - </a>
<a>Adventure</a>
<a> - </a>
<a> - </a>
<a>Crime</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Spectre">
            <input type="submit" class="ghost-button" value="More Information" href="/Spectre">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=LFoz8ZJWmPs" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/4q2NNj4S5dG2RLF9CpXsej7yXl.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Spider-Man: Far from Home
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Action</a>
<a> - </a>
<a> - </a>
<a>Adventure</a>
<a> - </a>
<a> - </a>
<a>Science Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Spider-Man:FarfromHome">
            <input type="submit" class="ghost-button" value="More Information" href="/Spider-Man:FarfromHome">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=g4Hbz2jLxvQ" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Spider-Man: Into the Spider-Verse
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Action</a>
<a> - </a>
<a> - </a>
<a>Adventure</a>
<a> - </a>
<a> - </a>
<a>Animation</a>
<a> - </a>
<a> - </a>
<a>Science Fiction</a>
<a> - </a>
<a> - </a>
<a>Comedy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Spider-Man:IntotheSpider-Verse">
            <input type="submit" class="ghost-button" value="More Information" href="/Spider-Man:IntotheSpider-Verse">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=HHnKnVUySJU" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/rXMWOZiCt6eMX22jWuTOSdQ98bY.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Split
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Horror</a>
<a> - </a>
<a> - </a>
<a>Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Split">
            <input type="submit" class="ghost-button" value="More Information" href="/Split">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=oGN9b_KJb_8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/4n7T0G6kNLszUyfqKAboesNTm55.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Still Alice
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/StillAlice">
            <input type="submit" class="ghost-button" value="More Information" href="/StillAlice">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=PLLQK9la6Go" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/e1mjopzAS2KNsvpbpahQ1a6SkSn.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Suicide Squad
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Action</a>
<a> - </a>
<a> - </a>
<a>Adventure</a>
<a> - </a>
<a> - </a>
<a>Crime</a>
<a> - </a>
<a> - </a>
<a>Fantasy</a>
<a> - </a>
<a> - </a>
<a>Science Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SuicideSquad">
            <input type="submit" class="ghost-button" value="More Information" href="/SuicideSquad">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=sYKBG1znk4A" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/szJdZCSiEIYybmPymoP2UTEvOUC.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Sweet Country
            </h2>
            en
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Drama</a>
<a> - </a>
<a> - </a>
<a>History</a>
<a> - </a>
<a> - </a>
<a>Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SweetCountry">
            <input type="submit" class="ghost-button" value="More Information" href="/SweetCountry">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    </main>
  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
