<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bingin' Film List</title>
    <link rel="stylesheet" type="text/css" href="/css/film_list_style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <div class="heading" data_test_automation_id="main_heading">
        <h1>Bingin' Film List</h1>
        <h2 class="centre" data_test_automation_id="film_count">Total number of films <%= filmCount %>
        </h2>
    </div>
</head>

<body>

    <div data_test_automation_id="film_container">
        <div class="container">
            <ul style="text-align:center;">
                <a target="_blank" href="https://www.youtube.com/watch?v=y6ZW7KXaXYk"<div style="text-align:center;"
                    data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/4YnLxYLHhT4UQ8i9jxAXWy46Xuw.jpg"</div>
                </a>
            </ul>
        </div>

        <div class="container">
            <ul>
                <h2 style="text-align:center;" data_test_automation_id="film_title_one">Harry Potter and the Order of the Phoenix
                </h2>
                <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.6
                </h3>
            </ul>
        </div>

        <div class="body-wide" data_test_automation_id="film_overview_one" <p>Returning for his fifth year of study at Hogwarts, Harry is stunned to find that his warnings about the return of Lord Voldemort have been ignored. Left with no choice, Harry takes matters into his own hands, training a small group of students – dubbed 'Dumbledore's Army' – to defend themselves against the dark arts.</p>
        </div>
    </div>
    
    <div data_test_automation_id="film_container">
        <div class="container">
            <ul style="text-align:center;">
                <a target="_blank" href="https://www.youtube.com/watch?v=dPaU4Gymt3E"<div style="text-align:center;"
                    data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/2wxvvnHKdZRB31Drf7PbRzPb0mR.jpg"</div>
                </a>
            </ul>
        </div>

        <div class="container">
            <ul>
                <h2 style="text-align:center;" data_test_automation_id="film_title_one">Hunt for the Wilderpeople
                </h2>
                <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.8
                </h3>
            </ul>
        </div>

        <div class="body-wide" data_test_automation_id="film_overview_one" <p>Ricky is a defiant young city kid who finds himself on the run with his cantankerous foster uncle in the wild New Zealand bush. A national manhunt ensues, and the two are forced to put aside their differences and work together to survive.</p>
        </div>
    </div>
    
    <div data_test_automation_id="film_container">
        <div class="container">
            <ul style="text-align:center;">
                <a target="_blank" href="https://www.youtube.com/watch?v=YvW_DmfKfSk"<div style="text-align:center;"
                    data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zyG3vYWK7SwWT4bvrWeFef0J7fp.jpg"</div>
                </a>
            </ul>
        </div>

        <div class="container">
            <ul>
                <h2 style="text-align:center;" data_test_automation_id="film_title_one">Nebraska
                </h2>
                <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.5
                </h3>
            </ul>
        </div>

        <div class="body-wide" data_test_automation_id="film_overview_one" <p>An aging, booze-addled father takes a trip from Montana to Nebraska with his estranged son in order to claim what he believes to be a million-dollar sweepstakes prize.</p>
        </div>
    </div>
    
    <div data_test_automation_id="film_container">
        <div class="container">
            <ul style="text-align:center;">
                <a target="_blank" href="https://www.youtube.com/watch?v=nk0JaEwhf00"<div style="text-align:center;"
                    data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/lSFYLoaL4eW7Q5VQ7SZQP4EHRCt.jpg"</div>
                </a>
            </ul>
        </div>

        <div class="container">
            <ul>
                <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Assassination of Jesse James by the Coward Robert Ford
                </h2>
                <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.1
                </h3>
            </ul>
        </div>

        <div class="body-wide" data_test_automation_id="film_overview_one" <p>Outlaw Jesse James is rumored to be the 'fastest gun in the West'. An eager recruit into James' notorious gang, Robert Ford eventually grows jealous of the famed outlaw and, when Robert and his brother sense an opportunity to kill James, their murderous action elevates their target to near mythical status.</p>
        </div>
    </div>
    
    <div data_test_automation_id="film_container">
        <div class="container">
            <ul style="text-align:center;">
                <a target="_blank" href="https://www.youtube.com/watch?v=u9Mv98Gr5pY"<div style="text-align:center;"
                    data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/2uNW4WbgBXL25BAbXGLnLqX71Sw.jpg"</div>
                </a>
            </ul>
        </div>

        <div class="container">
            <ul>
                <h2 style="text-align:center;" data_test_automation_id="film_title_one">Venom
                </h2>
                <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 6.6
                </h3>
            </ul>
        </div>

        <div class="body-wide" data_test_automation_id="film_overview_one" <p>Investigative journalist Eddie Brock attempts a comeback following a scandal, but accidentally becomes the host of Venom, a violent, super powerful alien symbiote. Soon, he must rely on his newfound powers to protect the world from a shadowy organization looking for a symbiote of their own.</p>
        </div>
    </div>
    
    <div data_test_automation_id="film_container">
        <div class="container">
            <ul style="text-align:center;">
                <a target="_blank" href="https://www.youtube.com/watch?v=kYNqYC_jNAg"<div style="text-align:center;"
                    data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/lYfRc57Kx9VgLZ48iulu0HKnM15.jpg"</div>
                </a>
            </ul>
        </div>

        <div class="container">
            <ul>
                <h2 style="text-align:center;" data_test_automation_id="film_title_one">Who Framed Roger Rabbit
                </h2>
                <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.4
                </h3>
            </ul>
        </div>

        <div class="body-wide" data_test_automation_id="film_overview_one" <p>'Toon star Roger is worried that his wife Jessica is playing pattycake with someone else, so the studio hires detective Eddie Valiant to snoop on her. But the stakes are quickly raised when Marvin Acme is found dead and Roger is the prime suspect.</p>
        </div>
    </div>
    
    <div data_test_automation_id="film_container">
        <div class="container">
            <ul style="text-align:center;">
                <a target="_blank" href="https://www.youtube.com/watch?v=bY73vFGhSVk"<div style="text-align:center;"
                    data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/sM33SANp9z6rXW8Itn7NnG1GOEs.jpg"</div>
                </a>
            </ul>
        </div>

        <div class="container">
            <ul>
                <h2 style="text-align:center;" data_test_automation_id="film_title_one">Zootopia
                </h2>
                <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.7
                </h3>
            </ul>
        </div>

        <div class="body-wide" data_test_automation_id="film_overview_one" <p>Determined to prove herself, Officer Judy Hopps, the first bunny on Zootopia's police force, jumps at the chance to crack her first case - even if it means partnering with scam-artist fox Nick Wilde to solve the mystery.</p>
        </div>
    </div>
    
    <div data_test_automation_id="film_container">
        <div class="container">
            <ul style="text-align:center;">
                <a target="_blank" href="https://www.youtube.com/watch?v=4YKpBYo61Cs"<div style="text-align:center;"
                    data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/xg7Dh7mjevDgznqw9JHYccNo9ZQ.jpg"</div>
                </a>
            </ul>
        </div>

        <div class="container">
            <ul>
                <h2 style="text-align:center;" data_test_automation_id="film_title_one">Zulu
                </h2>
                <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 6.8
                </h3>
            </ul>
        </div>

        <div class="body-wide" data_test_automation_id="film_overview_one" <p>As a child, Ali Neuman narrowly escaped being murdered by Inkhata, a militant political party at war with Nelson Mandela's African National Congress. Only he and his mother survived the carnage of those years. But as with many survivors, the psychological scars remain.</p>
        </div>
    </div>
    </body>

</html>
