<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bingin in the rain</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="header sticky sticky--top js-header">
      <div class="grid">
  
          <nav class="navigation">
              <ul class="navigation__list navigation__list--inline">
                  <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button" class="is-active">Home</a></li>
                  <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button">Screenings</a></li>
                  <li class="navigation__item"><a href="/genres" data_test_automation_id="header_genres_button">Genres</a></li>
                  <li class="navigation__item"><a href="/random-film" data_test_automation_id="header_random_button">Random Film</a></li>
                  <li class="navigation__item"><a href="/film-request" data_test_automation_id="header_random_button">Request a Film</a></li>
              </ul>
              
          </nav>
          
      
      </div>  </header>
      
      <main>

    <div class="heading" data_test_automation_id="main_heading">
      <h1>Bingin' in the rain</h1>
      <p class="centre"> Welcome to the Rowley Gardens cinema</p>
    </div>


    <div class="container">
      <fieldset>
        <form action="/films">
          <input data_test_automation_id="enter_film_list_button" type="submit" class="ghost-button" value="Click for available screenings" href="/films">
        </form>
      </fieldset>
    </div>

    <div class="container">
      <br />
      Can't find what you want here? Have you tried Netflix, Disney+ or Amazon Prime?
      <br />
      <br />
    </div>

    <div class="container">
      <fieldset>
        <!-- <form action="/random-film"> -->
          <input data_test_automation_id="random_film_list_button" type="submit" class="ghost-button" onclick="randomFilm()" value="Not sure what to watch - try this?" href="/random-film">
          <!-- <input name="randomFilm" id="randomFilm"> -->
        </form>
      </fieldset>
    </div>
<script>

// var randomFilmRouting = require('.././randomFilmRouting.json')
var randomFilmRouting = ["1917","2001:ASpaceOdyssey","28DaysLater","303","7DaysinEntebbe","ACureforWellness","AHistoryofViolence","AQuietPlace","ATaxiDriver","Abominable","Alien","Alien:Covenant","Aliens","Alien³","Allied","Amélie","AnEducation","Angel-A","Anomalisa","Anthropoid","ApocalypseNow","Apocalypto","Apollo11","Arctic","Arrival","AustinPowers:TheSpyWhoShaggedMe","AustinPowersinGoldmember","BartonFink","BigHero6","BirdsofPrey(andtheFantabulousEmancipationofOneHarleyQuinn)","BlacKkKlansman","BlackHawkDown","BlackSwan","BladeRunner","BladeRunner2049","BlueIstheWarmestColor","BlueMyMind","BoneTomahawk","Boyhood","BurnAfterReading","Byzantium","Calvary","CaptainFantastic","Casablanca","CasinoRoyale","CloudywithaChanceofMeatballs","CloudywithaChanceofMeatballs2","ComeAsYouAre","ConfessionsofaDangerousMind","DarkPhoenix","DarkWaters","DawnoftheDead","DayoftheDead","DeadMan'sShoes","Deadpool","Deadpool2","Deadwood:TheMovie","Delinquent","DespicableMe2","DespicableMe3","Don'tWorry,HeWon'tGetFaronFoot","Downsizing","EasternPromises","EscapeFromPretoria","Everest","EvilDeadII","ExMachina","Excalibur","ExtremelyWicked,ShockinglyEvilandVile","FantasticBeasts:TheCrimesofGrindelwald","FantasticBeastsandWheretoFindThem","Fences","FightClub","FirstMan","FreeStateofJones","GalaxyQuest","Gankutsuou:TheCountofMonteCristo","GardenState","Gattaca","GetOut","Gifted","Gladiator","Glass","God'sOwnCountry","GoodnightMommy","Gremlins","GunsAkimbo","HacksawRidge","Hail,Caesar!","HarryPotterandtheChamberofSecrets","HarryPotterandtheDeathlyHallows:Part1","HarryPotterandtheDeathlyHallows:Part2","HarryPotterandtheGobletofFire","HarryPotterandtheHalf-BloodPrince","HarryPotterandtheOrderofthePhoenix","HarryPotterandthePhilosopher'sStone","HarryPotterandthePrisonerofAzkaban","Harvey","He'sOutThere","HellBaby","HellorHighWater","Her","Hick","HiddenFigures","HighLife","Horns","HotelRwanda","Houseof1000Corpses","HowtoTrainYourDragon","HowtoTrainYourDragon2","HuntfortheWilderpeople","I'mNotThere","I,DanielBlake","IAmNotaSerialKiller","IAmNotaWitch","IKillGiants","IfBealeStreetCouldTalk","InBruges","InaValleyofViolence","InherentVice","InsideLlewynDavis","Interstellar","IntotheWild","Invictus","IsleofDogs","It","ItChapterTwo","ItFollows","JasonandtheArgonauts","JohnWick","JohnWick:Chapter2","JohnWick:Chapter3-Parabellum","JojoRabbit","Joker","Jumanji:TheNextLevel","Jumanji:WelcometotheJungle","Jungle","JurassicPark","JurassicWorld","JurassicWorld:FallenKingdom","Kesari","Kick-Ass","Kick-Ass2","KingdomofHeaven","Kite","KungFuPanda2","KungFuPanda3","Kuso","LadyBird","Lawless","LeanonPete","LeaveNoTrace","LettheRightOneIn","Lilya4-ever","Lincoln","Locke","Logan","LordsofDogtown","Lossilencios","MakingWaves:TheArtofCinematicSound","ManchesterbytheSea","Mandela:LongWalktoFreedom","McQueen","MeetMeinSt.Louis","Melancholia","MidnightSpecial","Monos","Moon","Moonlight","MoonriseKingdom","Mud","MulhollandDr.","MurderontheOrientExpress","Museo","Nebraska","NeverSurrender:AGalaxyQuestDocumentary","NotesonBlindness","OBrother,WhereArtThou?","OfficeSpace","Oldboy","OnceWereWarriors","OneHourPhoto","OneMoreTimewithFeeling","Onward","Parasite","Passengers","Paterson","PenguinsofMadagascar","Perfume:TheStoryofaMurderer","PhantomThread","Pi","Pleasantville","Prometheus","Psycho","Queen&Slim","QueenofKatwe","Rabbit-ProofFence","ReadyPlayerOne","ReservoirDogs","RichardJewell","RidewiththeDevil","Ringu","RustandBone","SafetyNotGuaranteed","Scratch","Selma","SherlockHolmes","SherlockHolmes:AGameofShadows","Sherpa","Shoplifters","ShutterIsland","Sightseers","Silence","Skyfall","SlowWest","Snowpiercer","SongoftheSea","SorryWeMissedYou","SorrytoBotherYou","Spider-Man:FarfromHome","Spider-Man:IntotheSpider-Verse","Split","StillAlice","SuicideSquad","SweetCountry","SympathyforLadyVengeance","SympathyforMr.Vengeance","Tanhaji:TheUnsungWarrior","TeAta","ThankYouforSmoking","The13thWarrior","TheAngels'Share","TheAssassinationofJesseJamesbytheCowardRobertFord","TheBestExoticMarigoldHotel","TheBoyintheStripedPyjamas","TheBreadwinner","TheCabinintheWoods","TheChroniclesofNarnia:TheVoyageoftheDawnTreader","TheDarjeelingLimited","TheDarkHorse","TheDarkTower","TheDayShallCome","TheDeadDon'tDie","TheDeathofStalin","TheDevil'sRejects","TheEvilDead","TheFall","TheFloridaProject","TheForgiven","TheFounder","TheFrontRunner","TheGirlontheTrain","TheGiver","TheGood,theBadandtheUgly","TheGrandBudapestHotel","TheGreatGatsby","TheGreatestShowman","TheHatefulEight","TheHero","TheHobbit:AnUnexpectedJourney","TheHobbit:TheBattleoftheFiveArmies","TheHobbit:TheDesolationofSmaug","TheImitationGame","TheImposter","TheLastDaysonMars","TheLastoftheMohicans","TheLegoBatmanMovie","TheLegoMovie","TheLegoMovie2:TheSecondPart","TheLivesofOthers","TheLobster","TheLordoftheRings:TheFellowshipoftheRing","TheLordoftheRings:TheReturnoftheKing","TheLordoftheRings:TheTwoTowers","TheLordsofSalem","TheLostCityofZ","TheMagnificentSeven","TheManWhoKilledHitlerandThentheBigfoot","TheManWhoWouldBeKing","TheMartian","TheMatrix","TheMatrixReloaded","TheMatrixRevolutions","TheMenWhoStareatGoats","TheNeonDemon","TheOneILove","TheOsloDiaries","ThePeanutButterFalcon","ThePerfectStorm","ThePirates!InanAdventurewithScientists!","TheRevenant","TheSeaInside","TheSignal","TheSkeletonTwins","TheTheoryofEverything","TheThing","TheTreeofLife","TheUsualSuspects","TheVoices","TheWitch","TheZeroTheorem","ThreeBillboardsOutsideEbbing,Missouri","TrespassAgainstUs","Troy","TurnMeOn,Dammit!","UndertheSkin","Upgrade","Us","ValhallaRising","Venom","VforVendetta","Victoria","ViewfromaBlueMoon","WalktheLine","Watchmen","WeatheringwithYou","WetheAnimals","WhaleRider","Wild","WildBill","WillyWonka&theChocolateFactory","Wilson","WonderWoman","WorldWarZ","X-Men:Apocalypse","Yardie","ZackandMiriMakeaPorno","Zombieland","Zootopia","Zulu","ZuluSummer","mid90s"]


function randomFilm() {
  const randomFilm = randomFilmRouting[ Math.floor(Math.random() * randomFilmRouting.length) ]
  // window.open(`http://localhost:3000/${randomFilm}`)
  window.open(`https://rgcinema.herokuapp.com/${randomFilm}`)
}
</script>

    </div>

  </main>

  <footer>
    <%- include("./partials/footer") %>
  </footer>
  
  </body>
</html>