<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Screenings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <div class="grid">

            <nav class="navigation">
                <ul class="navigation__list navigation__list--inline">
                    <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                    <li class="navigation__item"><a href="/films"
                            data_test_automation_id="header_screenings_button">Screenings</a></li>
                    <li class="navigation__item"><a href="/waiting"
                            data_test_automation_id="header_random_button">Random Film</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <main>
        <div class="heading" data_test_automation_id="main_heading">
            <h1>Blade Runner 2049</h1>
        </div>

        <div data_test_automation_id="film_container">
            <div class="container">
                <ul style="text-align:center;">
                    <a target="_blank" href="https://www.youtube.com/watch?v=gCcx85zbxz4" <div style="text-align:center;"
                        data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/gajva2L0rPYkEWjzgFlBXCAVBE5.jpg" </div>
                    </a>
                </ul>
            </div>

            <div class="container">
                <ul>
                    <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.4
                    </h3>
                    <h4 style="text-align:center;" data_test_automation_id="film_title_one">Screening Room: Apple TV
                    </h4>
                    <p> </p>
                </ul>
            </div>

            <div class="container">

                <a> - </a>
<a action="/genre-science fiction" href="/genre-science fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

                <p> </p>
                </div>

            <h2 class="container" <p>Overview</p></h2>
            <div class="container" <p>Thirty years after the events of the first film, a new blade runner, LAPD Officer K, unearths a long-buried secret that has the potential to plunge what's left of society into chaos. K's discovery leads him on a quest to find Rick Deckard, a former LAPD blade runner who has been missing for 30 years.</p>
            </div>
            <h2 class="container" <p>Release Date</p></h2>
            <div class="container" <p>2017-10-04</p>
            </div>
            <h2 class="container" <p>Languages</p></h2>
            <div class="container" <p>English</p>
            </div>
            <h2 class="container" <p>Director</p></h2>
            <div class="container" <p>Denis Villeneuve</p>
            </div>
            <h2 class="container" <p>Lead Actors</p></h2>
            <div class="container" <p> Ryan Gosling, Harrison Ford, Ana de Armas</p>
            </div>
            <h2 class="container" <p>Supporting Actors</p></h2>
            <div class="container" <p> Robin Wright, Sylvia Hoeks, Mackenzie Davis, Jared Leto, Carla Juri, Lennie James, Dave Bautista, David Dastmalchian</p>

    </main>
      <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
  