<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bingin' Film List</title>
    <link rel="stylesheet" type="text/css" href="/css/film_list_style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <div class="heading" data_test_automation_id="main_heading">
        <h1>Why not check out...?</h1>
    </div>
</head>

<body>
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=YdgQj7xcDJo" <div style="text-align:center;"
                data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/1M91Bt3oGspda75H9eLqYZkJzgO.jpg"
                    </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Fantastic Beasts and Where to Find Them
            </h2>
            <p> </p>
            <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.4
            </h3>
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Adventure</a>
<a> - </a>
<a> - </a>
<a>Family</a>
<a> - </a>
<a> - </a>
<a>Fantasy</a>
<a> - </a>

        <p> </p>
    </div>

    <div class="body-wide" data_test_automation_id="film_overview_one" <p>In 1926, Newt Scamander arrives at the Magical Congress of the United States of America with a magically expanded briefcase, which houses a number of dangerous creatures and their habitats. When the creatures escape from the briefcase, it sends the American wizarding authorities after Newt, and threatens to strain even further the state of magical and non-magical relations.</p>
    </div>
</div>
<div=class="container">
    <h1 class="body-wide" data_test_automation_id="film_overview_one" <p>
        ------------------------------------------------------</p>
    </h1>
    </div>
    </body>

</html>
  