<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Screenings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <div class="grid">

            <nav class="navigation">
                <ul class="navigation__list navigation__list--inline">
                  <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                  <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button" class="is-active">Screenings</a></li>
                  <li class="navigation__item"><a href="/genres" data_test_automation_id="header_genres_button">Genres</a></li>
                  <li class="navigation__item"><a href="/random-film" data_test_automation_id="header_random_button">Random Film</a></li>                  <li class="navigation__item"><a href="/film-request" data_test_automation_id="header_random_button">Request a Film</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <main>
        <div class="heading" data_test_automation_id="main_heading">
            <h1>Kite</h1>
        </div>

        <div data_test_automation_id="film_container">
            <div class="container">
                <ul style="text-align:center;">
                    <a target="_blank" href="https://www.youtube.com/watch?v=l0l7uphJ-Wg" <div style="text-align:center;"
                        data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/aar9wWPkmMCYrKpXzNyo5pDZPAT.jpg" </div>
                    </a>
                </ul>
            </div>

            <div class="container">
                <ul>
                    <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 4.2
                    </h3>
                    <h4 style="text-align:center;" data_test_automation_id="film_title_one">Screening Room: Apple TV
                    </h4>
                    <p> </p>
                </ul>
            </div>

            <div class="container">

                <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>

                <p> </p>
                </div>

            <h2 class="container" <p>Overview</p></h2>
            <div class="container" <p>Based on the groundbreaking, cult classic anime, KITE tells the story of Sawa, a young woman living in a corrupt society where crime and gangs terrorize the streets. When Sawa's mother and policeman father are found victims of a grisly double homicide, she begins a ruthless pursuit for the man who murdered them. With the help of her father's ex-partner, Karl Aker, and a mysterious friend from her past, she becomes a merciless teen assassin, blasting her way through the dark world of human trafficking only to uncover a devastating truth</p>
            </div>
            <h2 class="container" <p>Release Date</p></h2>
            <div class="container" <p>2014-06-13</p>
            </div>
            <h2 class="container" <p>Languages</p></h2>
            <h3 class="container" <p>Main Spoken</p></h3>
            <div class="container" <p>English</p>
            <h3 class="container" <p>Languages in Film</p></h3>
            <div class="container" <p> English</p>
            </div>
            <h2 class="container" <p>Director</p></h2>
            <div class="container" <p>Ralph Ziman</p>
            </div>
            <h2 class="container" <p>Lead Actors</p></h2>
            <div class="container" <p> Samuel L. Jackson, Callan McAuliffe, India Eisley</p>
            </div>
            <h2 class="container" <p>Supporting Actors</p></h2>
            <div class="container" <p> Carl Beukes, Jaco Muller, Terence Bridgett, Zane Meas, Deon Lotz, DeVille Vannik, Russel Savadier, Keci Eatock</p>

    </main>
      <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
  