<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bingin' Film List</title>
    <link rel="stylesheet" type="text/css" href="/css/film_list_style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <div class="heading" data_test_automation_id="main_heading">
        <h1>Why not check out...?</h1>
    </div>
</head>

<body>
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=KHwimJTfvxE" <div style="text-align:center;"
                data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/k1WjRObfqZV7EfmhsnUmhx88EAa.jpg"
                    </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Lords of Dogtown
            </h2>
            <p> </p>
            <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.1
            </h3>
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Drama</a>
<a> - </a>
<a> - </a>
<a>Action</a>
<a> - </a>

        <p> </p>
    </div>

    <div class="body-wide" data_test_automation_id="film_overview_one" <p>"Lords of Dogtown" tells the radical true story behind three teenage surfers from Venice Beach, California, who took skateboarding to the extreme and changed the world of sports forever. Stacy Peralta (John Robinson, Elephant), Tony Alva (Victor Rasuk, Raising Victor Vargas) and Jay Adams (Emile Hirsch, The Girl Next Door) are the Z-Boys, a bunch of nobodies until they create a new style of skateboarding that becomes a worldwide phenomenon. But when their hobby becomes a business, the success shreds their friendship. Directed by Catherine Hardwicke (Thirteen) and written by Stacy Peralta, Lords of Dogtown is "...a dazzling daredevil ride." (Peter Travers, Rollng Stone)</p>
    </div>
</div>
<div=class="container">
    <h1 class="body-wide" data_test_automation_id="film_overview_one" <p>
        ------------------------------------------------------</p>
    </h1>
    </div>
    </body>

</html>
  