<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Screenings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <div class="grid">

            <nav class="navigation">
                <ul class="navigation__list navigation__list--inline">
                    <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                    <li class="navigation__item"><a href="/films"
                            data_test_automation_id="header_screenings_button">Screenings</a></li>
                    <li class="navigation__item"><a href="/waiting"
                            data_test_automation_id="header_random_button">Random Film</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <main>
        <div class="heading" data_test_automation_id="main_heading">
            <h1>Sightseers</h1>
        </div>

        <div data_test_automation_id="film_container">
            <div class="container">
                <ul style="text-align:center;">
                    <a target="_blank" href="https://www.youtube.com/watch?v=cA2tM_VzDSI" <div style="text-align:center;"
                        data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/eL3POLwfhVeRfPOALFokh9JiUfd.jpg" </div>
                    </a>
                </ul>
            </div>

            <div class="container">
                <ul>
                    <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 6.4
                    </h3>
                    <h4 style="text-align:center;" data_test_automation_id="film_title_one">Screening Room: Mac Mini
                    </h4>
                    <p> </p>
                </ul>
            </div>

            <div class="container">

                <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>

                <p> </p>
                </div>

            <h2 class="container" <p>Overview</p></h2>
            <div class="container" <p>Chris wants to show girlfriend Tina his world, but events soon conspire against the couple and their dream caravan holiday takes a very wrong turn.</p>
            </div>
            <h2 class="container" <p>Release Date</p></h2>
            <div class="container" <p>2012-11-30</p>
            </div>
            <h2 class="container" <p>Languages</p></h2>
            <div class="container" <p>English</p>
            </div>
            <h2 class="container" <p>Director</p></h2>
            <div class="container" <p>Ben Wheatley</p>
            </div>
            <h2 class="container" <p>Lead Actors</p></h2>
            <div class="container" <p> Alice Lowe, Steve Oram, Eileen Davies</p>
            </div>
            <h2 class="container" <p>Supporting Actors</p></h2>
            <div class="container" <p> Roger Michael, Tony Way, Seamus O'Neill, Monica Dolan, Jonathan Aris, Aymen Hamdouchi, Tom Meeten, Kali Peacock</p>

    </main>
      <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
  