<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bingin' Film List</title>
    <link rel="stylesheet" type="text/css" href="/css/film_list_style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <div class="heading" data_test_automation_id="main_heading">
        <h1>Why not check out...?</h1>
    </div>
</head>

<body>
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=FppW5ml4vdw" <div style="text-align:center;"
                data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/bzzDAg3fkztvfQB08VBprhs9tVE.jpg"
                    </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Lives of Others
            </h2>
            <p> </p>
            <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 8.1
            </h3>
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Drama</a>
<a> - </a>
<a> - </a>
<a>Thriller</a>
<a> - </a>

        <p> </p>
    </div>

    <div class="body-wide" data_test_automation_id="film_overview_one" <p>A tragic love story set in East Berlin with the backdrop of an undercover Stasi controlled culture. Stasi captain Wieler is ordered to follow author Dreyman and plunges deeper and deeper into his life until he reaches the threshold of doubting the system.</p>
    </div>
</div>
<div=class="container">
    <h1 class="body-wide" data_test_automation_id="film_overview_one" <p>
        ------------------------------------------------------</p>
    </h1>
    </div>
    </body>

</html>
  