<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bingin' Film List</title>
    <link rel="stylesheet" type="text/css" href="/css/film_list_style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <div class="heading" data_test_automation_id="main_heading">
        <h1>Why not check out...?</h1>
    </div>
</head>

<body>
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=Gm_P9euW5NU" <div style="text-align:center;"
                data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/6FHoUoYrfmwXJsDIR0s8YvV1Ctj.jpg"
                    </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Last of the Mohicans
            </h2>
            <p> </p>
            <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.3
            </h3>
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a>Action</a>
<a> - </a>
<a> - </a>
<a>Adventure</a>
<a> - </a>
<a> - </a>
<a>Drama</a>
<a> - </a>
<a> - </a>
<a>History</a>
<a> - </a>
<a> - </a>
<a>Romance</a>
<a> - </a>
<a> - </a>
<a>War</a>
<a> - </a>

        <p> </p>
    </div>

    <div class="body-wide" data_test_automation_id="film_overview_one" <p>As the British and French soldiers battle for control of the American colonies in the 18th century, the settlers and native Americans are forced to take sides. Cora and her sister Alice unwittingly walk into trouble but are reluctantly saved by Hawkeye, an orphaned settler adopted by the last of the Mohicans.</p>
    </div>
</div>
<div=class="container">
    <h1 class="body-wide" data_test_automation_id="film_overview_one" <p>
        ------------------------------------------------------</p>
    </h1>
    </div>
    </body>

</html>
  