<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Screenings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <div class="grid">

            <nav class="navigation">
                <ul class="navigation__list navigation__list--inline">
                  <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                  <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button" class="is-active">Screenings</a></li>
                  <li class="navigation__item"><a href="/genres" data_test_automation_id="header_genres_button">Genres</a></li>
                  <li class="navigation__item"><a href="/random-film" data_test_automation_id="header_random_button">Random Film</a></li>                  <li class="navigation__item"><a href="/film-request" data_test_automation_id="header_random_button">Request a Film</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <main>
        <div class="heading" data_test_automation_id="main_heading">
            <h1>The 13th Warrior</h1>
        </div>

        <div data_test_automation_id="film_container">
            <div class="container">
                <ul style="text-align:center;">
                    <a target="_blank" href="https://www.youtube.com/watch?v=TgZYiBCAnME" <div style="text-align:center;"
                        data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/7pyhR5K1iv67daYw0DfsmsersKA.jpg" </div>
                    </a>
                </ul>
            </div>

            <div class="container">
                <ul>
                    <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 6.6
                    </h3>
                    <h4 style="text-align:center;" data_test_automation_id="film_title_one">Screening Room: Apple TV
                    </h4>
                    <p> </p>
                </ul>
            </div>

            <div class="container">

                <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-history" href="/genre-history">History</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>

                <p> </p>
                </div>

            <h2 class="container" <p>Overview</p></h2>
            <div class="container" <p>A Muslim ambassador exiled from his homeland, Ahmad ibn Fadlan finds himself in the company of Vikings. While the behavior of the Norsemen initially offends ibn Fadlan, the more cultured outsider grows to respect the tough, if uncouth, warriors. During their travels together, ibn Fadlan and the Vikings get word of an evil presence closing in, and they must fight the frightening and formidable force, which was previously thought to exist only in legend.</p>
            </div>
            <h2 class="container" <p>Release Date</p></h2>
            <div class="container" <p>1999-08-13</p>
            </div>
            <h2 class="container" <p>Languages</p></h2>
            <h3 class="container" <p>Main Spoken</p></h3>
            <div class="container" <p>English</p>
            <h3 class="container" <p>Languages in Film</p></h3>
            <div class="container" <p> Latin, Arabic, English, Swedish</p>
            </div>
            <h2 class="container" <p>Director</p></h2>
            <div class="container" <p>John McTiernan</p>
            </div>
            <h2 class="container" <p>Lead Actors</p></h2>
            <div class="container" <p> Antonio Banderas, Diane Venora, Dennis Storhøi</p>
            </div>
            <h2 class="container" <p>Supporting Actors</p></h2>
            <div class="container" <p> Vladimir Kulich, Omar Sharif, Anders T. Andersen, Richard Bremmer, Tony Curran, Mischa Hausserman, Neil Maffin, Asbjørn 'Bear' Riis</p>

    </main>
      <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
  