<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Screenings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <div class="grid">

            <nav class="navigation">
                <ul class="navigation__list navigation__list--inline">
                    <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                    <li class="navigation__item"><a href="/films"
                            data_test_automation_id="header_screenings_button">Screenings</a></li>
                    <li class="navigation__item"><a href="/waiting"
                            data_test_automation_id="header_random_button">Random Film</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <main>
        <div class="heading" data_test_automation_id="main_heading">
            <h1>The Assassination of Jesse James by the Coward Robert Ford</h1>
        </div>

        <div data_test_automation_id="film_container">
            <div class="container">
                <ul style="text-align:center;">
                    <a target="_blank" href="https://www.youtube.com/watch?v=nk0JaEwhf00" <div style="text-align:center;"
                        data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/AmTyssKrXvtQ5VV8uFgA7bgMDis.jpg" </div>
                    </a>
                </ul>
            </div>

            <div class="container">
                <ul>
                    <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7
                    </h3>
                    <h4 style="text-align:center;" data_test_automation_id="film_title_one">Screening Room: Apple TV
                    </h4>
                    <p> </p>
                </ul>
            </div>

            <div class="container">

                <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

                <p> </p>
            </div>

            <div class="body-wide" data_test_automation_id="film_overview_one" <p>Outlaw Jesse James is rumored to be the 'fastest gun in the West'. An eager recruit into James' notorious gang, Robert Ford eventually grows jealous of the famed outlaw and, when Robert and his brother sense an opportunity to kill James, their murderous action elevates their target to near mythical status.</p>
            </div>
        </div>
        <div=class="container">
            <div class="body-wide" <p>Directed by - Andrew Dominik</p>
            </div>
            <div class="body-wide" <p>Language - English</p>
            </div>
            <div class="body-wide" <p>Release Date - 2007-09-07</p>
            </div>
            <div class="body-wide" <p>Main Actors - </p>
            </div>
            </div>
    </main>
      <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
  