<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Screenings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <div class="grid">

            <nav class="navigation">
                <ul class="navigation__list navigation__list--inline">
                    <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                    <li class="navigation__item"><a href="/films"
                            data_test_automation_id="header_screenings_button">Screenings</a></li>
                    <li class="navigation__item"><a href="/waiting"
                            data_test_automation_id="header_random_button">Random Film</a></li>
                            <li class="navigation__item"><a href="/waiting" data_test_automation_id="header_random_button">Report a Bug</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <main>
        <div class="heading" data_test_automation_id="main_heading">
            <h1>The Sea Inside</h1>
        </div>

        <div data_test_automation_id="film_container">
            <div class="container">
                <ul style="text-align:center;">
                    <a target="_blank" href="https://www.youtube.com/watch?v=dVRnG1MddAM" <div style="text-align:center;"
                        data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/fjTkpX7DeDXKQQdpMENErZBsgT1.jpg" </div>
                    </a>
                </ul>
            </div>

            <div class="container">
                <ul>
                    <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.6
                    </h3>
                    <h4 style="text-align:center;" data_test_automation_id="film_title_one">Screening Room: Mac Mini
                    </h4>
                    <p> </p>
                </ul>
            </div>

            <div class="container">

                <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

                <p> </p>
            </div>

            <div class="body-wide" data_test_automation_id="film_overview_one" <p>The Sea Inside is about Spaniard Ramón Sampedro, who fought a 30-year campaign to win the right to end his life with dignity. It is the story of Ramón’s relationships with two women: Julia a lawyer who supports his cause, and Rosa, a local woman who wants to convince him that life is worth living.</p>
            </div>
        </div>
        <div=class="container">
            <div class="body-wide" <p>Directed by - Alejandro Amenábar</p>
            </div>
            <div class="body-wide" <p>Language - Spanish; Castilian</p>
            </div>
            <div class="body-wide" <p>Release Date - 2004-09-03</p>
            </div>
            <div class="body-wide" <p>Main Actors - </p>
            </div>
            </div>
    </main>
      <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
  