<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Screenings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <div class="grid">

            <nav class="navigation">
                <ul class="navigation__list navigation__list--inline">
                    <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                    <li class="navigation__item"><a href="/films"
                            data_test_automation_id="header_screenings_button">Screenings</a></li>
                    <li class="navigation__item"><a href="/waiting"
                            data_test_automation_id="header_random_button">Random Film</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <main>
        <div class="heading" data_test_automation_id="main_heading">
            <h1>Whale Rider</h1>
        </div>

        <div data_test_automation_id="film_container">
            <div class="container">
                <ul style="text-align:center;">
                    <a target="_blank" href="https://www.youtube.com/watch?v=-2IW9Cr0lWs" <div style="text-align:center;"
                        data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/1ZQSkyEDRJdk6TCAThBojB5hJcK.jpg" </div>
                    </a>
                </ul>
            </div>

            <div class="container">
                <ul>
                    <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7.3
                    </h3>
                    <p> </p>
                </ul>
            </div>

            <div class="container">

                <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-family" href="/genre-family">Family</a>
<a> - </a>

                <p> </p>
            </div>

            <div class="body-wide" data_test_automation_id="film_overview_one" <p>On the east coast of New Zealand, the Whangara people believe their presence there dates back a thousand years or more to a single ancestor, Paikea, who escaped death when his canoe capsized by riding to shore on the back of a whale. From then on, Whangara chiefs, always the first-born, always male, have been considered Paikea's direct descendants. Pai, an 11-year-old girl in a patriarchal New Zealand tribe, believes she is destined to be the new chief. But her grandfather Koro is bound by tradition to pick a male leader. Pai loves Koro more than anyone in the world, but she must fight him and a thousand years of tradition to fulfill her destiny.</p>
            </div>
        </div>
        <div=class="container">
            <div class="body-wide" <p>Directed by - Niki Caro</p>
            </div>
            <div class="body-wide" <p>Language - en</p>
            </div>
            <div class="body-wide" <p>Release Date - 2003-01-30</p>
            </div>
            <div class="body-wide" <p>Main Actors - </p>
            </div>
            </div>
    </main>
      <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
  