<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Screenings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <div class="grid">

            <nav class="navigation">
                <ul class="navigation__list navigation__list--inline">
                  <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                  <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button" class="is-active">Screenings</a></li>
                  <li class="navigation__item"><a href="/genres" data_test_automation_id="header_genres_button">Genres</a></li>
                  <li class="navigation__item"><a href="/waiting" data_test_automation_id="header_random_button">Random Film</a></li>
                  <li class="navigation__item"><a href="/film-request" data_test_automation_id="header_random_button">Request a Film</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <main>
        <div class="heading" data_test_automation_id="main_heading">
            <h1>Wild</h1>
        </div>

        <div data_test_automation_id="film_container">
            <div class="container">
                <ul style="text-align:center;">
                    <a target="_blank" href="https://www.youtube.com/watch?v=xOPl8gKdmYE" <div style="text-align:center;"
                        data_test_automation_id="film_one_image"> <img alt="Image 1" width="300" height="500"
                            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/2S8sYVFtHTueb7viBPPT6KLHBJH.jpg" </div>
                    </a>
                </ul>
            </div>

            <div class="container">
                <ul>
                    <h3 style="text-align:center;" data_test_automation_id="film_title_one">IMdB score 7
                    </h3>
                    <h4 style="text-align:center;" data_test_automation_id="film_title_one">Screening Room: Apple TV
                    </h4>
                    <p> </p>
                </ul>
            </div>

            <div class="container">

                <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

                <p> </p>
                </div>

            <h2 class="container" <p>Overview</p></h2>
            <div class="container" <p>A woman with a tragic past decides to start her new life by hiking for one thousand miles on the Pacific Crest Trail.</p>
            </div>
            <h2 class="container" <p>Release Date</p></h2>
            <div class="container" <p>2014-12-05</p>
            </div>
            <h2 class="container" <p>Languages</p></h2>
            <div class="container" <p>English</p>
            </div>
            <h2 class="container" <p>Director</p></h2>
            <div class="container" <p>Jean-Marc Vallée</p>
            </div>
            <h2 class="container" <p>Lead Actors</p></h2>
            <div class="container" <p> Reese Witherspoon, Laura Dern, Thomas Sadoski</p>
            </div>
            <h2 class="container" <p>Supporting Actors</p></h2>
            <div class="container" <p> Keene McRae, Michiel Huisman, W. Earl Brown, Gaby Hoffmann, Kevin Rankin, Brian Van Holt, Cliff DeYoung, Mo McRae</p>

    </main>
      <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
  