<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Screenings</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button">Screenings</a></li>
                <li class="navigation__item"><a href="/genres" data_test_automation_id="header_genres_button" class="is-active">Genres</a></li>
                <li class="navigation__item"><a href="/random-film" data_test_automation_id="header_random_button">Random Film</a></li>                <li class="navigation__item"><a href="/film-request" data_test_automation_id="header_random_button">Request a Film</a></li>
            </ul>
        </nav>
    </div>  
    <div> <font color="white">-</font></div>
        <div class="grid">
        <ul class="navigation__list navigation__list--inline">
            <li class="navigation__item"><a action="/genre-action" href="/genre-action">Action</a></li>
            <li class="navigation__item"><a action="/genre-adventure" href="/genre-adventure">Adventure</a></li>
            <li class="navigation__item"><a action="/genre-animation" href="/genre-animation">Animation</a></li>
            <li class="navigation__item"><a action="/genre-comedy" href="/genre-comedy">Comedy</a></li>
            <li class="navigation__item"><a action="/genre-crime" href="/genre-crime">Crime</a></li>
            <li class="navigation__item"><a action="/genre-documentary" href="/genre-documentary">Documentary</a></li>
            <li class="navigation__item"><a action="/genre-drama" href="/genre-drama">Drama</a></li>
            <li class="navigation__item"><a action="/genre-family" href="/genre-family">Family</a></li>
            <li class="navigation__item"><a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a></li>
        </ul>
        <ul class="navigation__list navigation__list--inline">
            <li class="navigation__item"><a action="/genre-history" href="/genre-history">History</a></li>
            <li class="navigation__item"><a action="/genre-horror" href="/genre-horror" class="is-active">Horror</a></li>
            <li class="navigation__item"><a action="/genre-music" href="/genre-music">Music</a></li>
            <li class="navigation__item"><a action="/genre-mystery" href="/genre-mystery">Mystery</a></li>
            <li class="navigation__item"><a action="/genre-romance" href="/genre-romance">Romance</a></li>
            <li class="navigation__item"><a action="/genre-science-fiction" href="/genre-science-fiction">SciFi</a></li>
            <li class="navigation__item"><a action="/genre-thriller" href="/genre-thriller">Thriller</a></li>
            <li class="navigation__item"><a action="/genre-war" href="/genre-war">War</a></li>
            <li class="navigation__item"><a action="/genre-western" href="/genre-western">Western</a></li>
        </ul>
    </div>
    </header>

  <main>
    <div class="heading" data_test_automation_id="main_heading">
        <h1>Horror</h1>
    </div>

   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=MHMdWUeYudk" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/sQckQRt17VaWbo39GIu0TMOiszq.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">28 Days Later
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/28DaysLater">
            <input type="submit" class="ghost-button" value="More Information" href="/28DaysLater">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=4mcVodJmBlU" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/d4fXuJS3zZcAZfz2HYDtnwqtnwn.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">A Cure for Wellness
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/ACureforWellness">
            <input type="submit" class="ghost-button" value="More Information" href="/ACureforWellness">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=WR7cc5t7tv8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/nAU74GmpUk7t5iklEp3bufwDq4n.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">A Quiet Place
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/AQuietPlace">
            <input type="submit" class="ghost-button" value="More Information" href="/AQuietPlace">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=097uj1HjkbM" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/vfrQk5IPloGg1v9Rzbh2Eg3VGyM.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Alien
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Alien">
            <input type="submit" class="ghost-button" value="More Information" href="/Alien">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=svnAD0TApb8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zecMELPbU5YMQpC81Z8ImaaXuf9.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Alien: Covenant
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Alien:Covenant">
            <input type="submit" class="ghost-button" value="More Information" href="/Alien:Covenant">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=KUTaNMJJBa8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/hlabk6APJUeihZDaSD9N6iI0f4g.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Alien³
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Alien³">
            <input type="submit" class="ghost-button" value="More Information" href="/Alien³">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=5jaI1XOB-bs" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/rH19vkjAzCZ0HIUvrgB3rowm68h.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Black Swan
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BlackSwan">
            <input type="submit" class="ghost-button" value="More Information" href="/BlackSwan">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=0ZbwtHi-KSE" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/cEvYuXA10XrpUwnzbkjb5IByTQM.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Bone Tomahawk
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BoneTomahawk">
            <input type="submit" class="ghost-button" value="More Information" href="/BoneTomahawk">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=DV8mJcuYVaA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/1QwIIAZzPgYcninV2tiy0cabbhI.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Dawn of the Dead
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/DawnoftheDead">
            <input type="submit" class="ghost-button" value="More Information" href="/DawnoftheDead">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=oATJVC5R0FA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/yJ2emwXWwQc6VHW3fO4GZr0hXBt.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Day of the Dead
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/DayoftheDead">
            <input type="submit" class="ghost-button" value="More Information" href="/DayoftheDead">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=6lM3NPeEG24" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/lN3HYEnnKgHyun8ldUizTtPIjuB.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Evil Dead II
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/EvilDeadII">
            <input type="submit" class="ghost-button" value="More Information" href="/EvilDeadII">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=sRfnevzM9kQ" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/qbaIViX3tgWSTSFXbldq0ODMdi4.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Get Out
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/GetOut">
            <input type="submit" class="ghost-button" value="More Information" href="/GetOut">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=HCjApb9EDcg" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/u3G2gF7M9dmH4Vcs54PUjieOi0C.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Goodnight Mommy
            </h2>
            German
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/GoodnightMommy">
            <input type="submit" class="ghost-button" value="More Information" href="/GoodnightMommy">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=XBEVwaJEgaA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/72Y1X9pMSjXQ7mKB6pBEoMhL0OQ.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Gremlins
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Gremlins">
            <input type="submit" class="ghost-button" value="More Information" href="/Gremlins">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=-" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/790BUqG80oOyMRmTjDINW7lepTG.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">He's Out There
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/He'sOutThere">
            <input type="submit" class="ghost-button" value="More Information" href="/He'sOutThere">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=EOAQuBtfNlc" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/g1IaLdkcjxAfaOGmjJzP6rfAw8H.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Hell Baby
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/HellBaby">
            <input type="submit" class="ghost-button" value="More Information" href="/HellBaby">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=B3AZx-cNM78" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ldywME8eLiJHzA8YlXJiovst5od.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Horns
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Horns">
            <input type="submit" class="ghost-button" value="More Information" href="/Horns">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=xbRRD-cD7h4" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/vvwcILsa0arryQlORuYk5GcUKF5.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">House of 1000 Corpses
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Houseof1000Corpses">
            <input type="submit" class="ghost-button" value="More Information" href="/Houseof1000Corpses">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=DNjQoD_o6X8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/mfhVJQGUV3Lmun9wzdaPmBJ8s2u.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">I Am Not a Serial Killer
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/IAmNotaSerialKiller">
            <input type="submit" class="ghost-button" value="More Information" href="/IAmNotaSerialKiller">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=FnCdOQsX5kc" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">It
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/It">
            <input type="submit" class="ghost-button" value="More Information" href="/It">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=zqUopiAYdRg" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zfE0R94v1E8cuKAerbskfD3VfUt.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">It Chapter Two
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/ItChapterTwo">
            <input type="submit" class="ghost-button" value="More Information" href="/ItChapterTwo">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=9tyMi1Hn32I" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/kdxZZ04HFh98ZZBiTZNWHMexsGZ.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">It Follows
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/ItFollows">
            <input type="submit" class="ghost-button" value="More Information" href="/ItFollows">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=SLxKJHBhZP0" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/2Pl3Vptkzaum6FZ5K6iDqybuhp4.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Kuso
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>
<a> - </a>
<a action="/genre-animation" href="/genre-animation">Animation</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Kuso">
            <input type="submit" class="ghost-button" value="More Information" href="/Kuso">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=ICp4g9p_rgo" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/7IG4WjaAOVDlLvLUkh513HSwhW8.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Let the Right One In
            </h2>
            Swedish
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/LettheRightOneIn">
            <input type="submit" class="ghost-button" value="More Information" href="/LettheRightOneIn">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=1kF3SCjGtI0" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ratEjRsUex1kJ16XTOQjN2r9GIe.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">One Hour Photo
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/OneHourPhoto">
            <input type="submit" class="ghost-button" value="More Information" href="/OneHourPhoto">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=uf2fa08xrIk" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/81d8oyEFgj7FlxJqSDXWr8JH8kV.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Psycho
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Psycho">
            <input type="submit" class="ghost-button" value="More Information" href="/Psycho">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=oTtz7g2tiuI" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/1YINof6kN5yRdePEbcU5360ejoq.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Ringu
            </h2>
            Japanese
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Ringu">
            <input type="submit" class="ghost-button" value="More Information" href="/Ringu">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=HHnKnVUySJU" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/lli31lYTFpvxVBeFHWoe5PMfW5s.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Split
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Split">
            <input type="submit" class="ghost-button" value="More Information" href="/Split">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=NsIilFNNmkY" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ikN5RPNIt26YEMDbsm0rnmNODio.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Cabin in the Woods
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheCabinintheWoods">
            <input type="submit" class="ghost-button" value="More Information" href="/TheCabinintheWoods">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=bs5ZOcU6Bnw" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ndvOjo7Nfk8ULnFLMXthPzhI62L.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Dead Don't Die
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheDeadDon'tDie">
            <input type="submit" class="ghost-button" value="More Information" href="/TheDeadDon'tDie">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=poxddLZq2k0" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/tOBjkSB0YfOuIEiTlrNRzdh3bEk.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Devil's Rejects
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheDevil'sRejects">
            <input type="submit" class="ghost-button" value="More Information" href="/TheDevil'sRejects">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=GU92dtYrF9I" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/iL2Ok6olWPsp76JgDoHndKm9iyQ.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Evil Dead
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheEvilDead">
            <input type="submit" class="ghost-button" value="More Information" href="/TheEvilDead">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=Ae3vglKCtdo" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/kxcQkAhpn8cvJTsU8PXblI5Qq8F.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Last Days on Mars
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheLastDaysonMars">
            <input type="submit" class="ghost-button" value="More Information" href="/TheLastDaysonMars">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=Y606RoSur8o" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/nqZ6CGGZpQWt139YioekSYHvvkU.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Lords of Salem
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheLordsofSalem">
            <input type="submit" class="ghost-button" value="More Information" href="/TheLordsofSalem">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=YqFhKdRFPvA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/oi7fIEMoga9ojGNaZvSCMzdFmVz.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Neon Demon
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheNeonDemon">
            <input type="submit" class="ghost-button" value="More Information" href="/TheNeonDemon">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=p35JDJLa9ec" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/tzGY49kseSE9QAKk47uuDGwnSCu.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Thing
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheThing">
            <input type="submit" class="ghost-button" value="More Information" href="/TheThing">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=p35JDJLa9ec" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/tzGY49kseSE9QAKk47uuDGwnSCu.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Thing
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheThing">
            <input type="submit" class="ghost-button" value="More Information" href="/TheThing">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=jofvuyP4RxA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/nNl4KDRPYdAZf7ifaP91ZYd3T7r.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Voices
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheVoices">
            <input type="submit" class="ghost-button" value="More Information" href="/TheVoices">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=iQXmlf3Sefg" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/amL5wDugRDRJ4wh6qEJSwpjmcip.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Witch
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheWitch">
            <input type="submit" class="ghost-button" value="More Information" href="/TheWitch">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=NdNpFoWrBDQ" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/8shwLEDzajJGSfLgbpac8x8xn1U.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Tucker and Dale vs. Evil
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TuckerandDalevs.Evil">
            <input type="submit" class="ghost-button" value="More Information" href="/TuckerandDalevs.Evil">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=1hTLGlgZ4Z8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/8fDtXi6gVw8WUMWGT9XFz7YwkuE.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Upgrade
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Upgrade">
            <input type="submit" class="ghost-button" value="More Information" href="/Upgrade">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=hNCmb-4oXJA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ux2dU1jQ2ACIMShzB3yP93Udpzc.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Us
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Us">
            <input type="submit" class="ghost-button" value="More Information" href="/Us">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=slfrrjPndV4" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/pLMpv8ckcDP3kiEd2fhwY7XrjHz.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">World War Z
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/WorldWarZ">
            <input type="submit" class="ghost-button" value="More Information" href="/WorldWarZ">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=8m9EVP8X7N8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/dUkAmAyPVqubSBNRjRqCgHggZcK.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Zombieland
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Zombieland">
            <input type="submit" class="ghost-button" value="More Information" href="/Zombieland">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    </main>
  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
