<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Screenings</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button">Screenings</a></li>
                <li class="navigation__item"><a href="/genres" data_test_automation_id="header_genres_button">Genres</a></li>
                <li class="navigation__item"><a href="/waiting" data_test_automation_id="header_random_button">Random Film</a></li>
            </ul>
        </nav>
    </div>  
    <div> <font color="white">-</font></div>
       <div class="grid">
        <ul class="navigation__list navigation__list--inline">
            <li class="navigation__item"><a action="/genre-action" href="/genre-action">Action</a></li>
            <li class="navigation__item"><a action="/genre-adventure" href="/genre-adventure">Adventure</a></li>
            <li class="navigation__item"><a action="/genre-animation" href="/genre-animation">Animation</a></li>
            <li class="navigation__item"><a action="/genre-comedy" href="/genre-comedy">Comedy</a></li>
            <li class="navigation__item"><a action="/genre-crime" href="/genre-crime">Crime</a></li>
            <li class="navigation__item"><a action="/genre-documentary" href="/genre-documentary">Documentary</a></li>
            <li class="navigation__item"><a action="/genre-drama" href="/genre-drama">Drama</a></li>
            <li class="navigation__item"><a action="/genre-family" href="/genre-family">Family</a></li>
            <li class="navigation__item"><a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a></li>
        </ul>
        <ul class="navigation__list navigation__list--inline">
            <li class="navigation__item"><a action="/genre-history" href="/genre-history">History</a></li>
            <li class="navigation__item"><a action="/genre-horror" href="/genre-horror">Horror</a></li>
            <li class="navigation__item"><a action="/genre-music" href="/genre-music">Music</a></li>
            <li class="navigation__item"><a action="/genre-mystery" href="/genre-mystery">Mystery</a></li>
            <li class="navigation__item"><a action="/genre-romance" href="/genre-romance" class="is-active">Romance</a></li>
            <li class="navigation__item"><a action="/genre-science-fiction" href="/genre-science-fiction">SciFi</a></li>
            <li class="navigation__item"><a action="/genre-thriller" href="/genre-thriller">Thriller</a></li>
            <li class="navigation__item"><a action="/genre-war" href="/genre-war">War</a></li>
            <li class="navigation__item"><a action="/genre-western" href="/genre-western">Western</a></li>
        </ul>
    </div>
    </header>

  <main>
    <div class="heading" data_test_automation_id="main_heading">
        <h1>Romance</h1>
    </div>

   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=IaoYTgbUmdc" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ojUGHGfroGRwW7jO0727txepQbC.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Angel-A
            </h2>
            French
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-romance" href="/genre-romance">Romance</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Angel-A">
            <input type="submit" class="ghost-button" value="More Information" href="/Angel-A">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    </main>
  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
