<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Screenings</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button">Screenings</a></li>
                <li class="navigation__item"><a href="/genres" data_test_automation_id="header_genres_button" class="is-active">Genres</a></li>
                <li class="navigation__item"><a href="/random-film" data_test_automation_id="header_random_button">Random Film</a></li>                <li class="navigation__item"><a href="/film-request" data_test_automation_id="header_random_button">Request a Film</a></li>
            </ul>
        </nav>
    </div>  
    <div> <font color="white">-</font></div>
        <div class="grid">
        <ul class="navigation__list navigation__list--inline">
            <li class="navigation__item"><a action="/genre-action" href="/genre-action">Action</a></li>
            <li class="navigation__item"><a action="/genre-adventure" href="/genre-adventure">Adventure</a></li>
            <li class="navigation__item"><a action="/genre-animation" href="/genre-animation">Animation</a></li>
            <li class="navigation__item"><a action="/genre-comedy" href="/genre-comedy">Comedy</a></li>
            <li class="navigation__item"><a action="/genre-crime" href="/genre-crime">Crime</a></li>
            <li class="navigation__item"><a action="/genre-documentary" href="/genre-documentary">Documentary</a></li>
            <li class="navigation__item"><a action="/genre-drama" href="/genre-drama">Drama</a></li>
            <li class="navigation__item"><a action="/genre-family" href="/genre-family">Family</a></li>
            <li class="navigation__item"><a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a></li>
        </ul>
        <ul class="navigation__list navigation__list--inline">
            <li class="navigation__item"><a action="/genre-history" href="/genre-history">History</a></li>
            <li class="navigation__item"><a action="/genre-horror" href="/genre-horror">Horror</a></li>
            <li class="navigation__item"><a action="/genre-music" href="/genre-music">Music</a></li>
            <li class="navigation__item"><a action="/genre-mystery" href="/genre-mystery">Mystery</a></li>
            <li class="navigation__item"><a action="/genre-romance" href="/genre-romance">Romance</a></li>
            <li class="navigation__item"><a action="/genre-science-fiction" href="/genre-science-fiction" class="is-active">SciFi</a></li>
            <li class="navigation__item"><a action="/genre-thriller" href="/genre-thriller">Thriller</a></li>
            <li class="navigation__item"><a action="/genre-war" href="/genre-war">War</a></li>
            <li class="navigation__item"><a action="/genre-western" href="/genre-western">Western</a></li>
        </ul>
    </div>
    </header>

  <main>
    <div class="heading" data_test_automation_id="main_heading">
        <h1>Science Fiction</h1>
    </div>

   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=XHjIqQBsPjk" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zmmYdPa8Lxx999Af9vnVP4XQ1V6.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">2001: A Space Odyssey
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/2001:ASpaceOdyssey">
            <input type="submit" class="ghost-button" value="More Information" href="/2001:ASpaceOdyssey">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=MHMdWUeYudk" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/sQckQRt17VaWbo39GIu0TMOiszq.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">28 Days Later
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/28DaysLater">
            <input type="submit" class="ghost-button" value="More Information" href="/28DaysLater">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=4mcVodJmBlU" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/d4fXuJS3zZcAZfz2HYDtnwqtnwn.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">A Cure for Wellness
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/ACureforWellness">
            <input type="submit" class="ghost-button" value="More Information" href="/ACureforWellness">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=WR7cc5t7tv8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/nAU74GmpUk7t5iklEp3bufwDq4n.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">A Quiet Place
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/AQuietPlace">
            <input type="submit" class="ghost-button" value="More Information" href="/AQuietPlace">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=097uj1HjkbM" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/vfrQk5IPloGg1v9Rzbh2Eg3VGyM.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Alien
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Alien">
            <input type="submit" class="ghost-button" value="More Information" href="/Alien">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=svnAD0TApb8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/zecMELPbU5YMQpC81Z8ImaaXuf9.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Alien: Covenant
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Alien:Covenant">
            <input type="submit" class="ghost-button" value="More Information" href="/Alien:Covenant">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=KUTaNMJJBa8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/hlabk6APJUeihZDaSD9N6iI0f4g.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Alien³
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Alien³">
            <input type="submit" class="ghost-button" value="More Information" href="/Alien³">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=zBvTd9iFqG8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/xwdPTZyyBa4U3V2N0EmozTCeEAY.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Aliens
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Aliens">
            <input type="submit" class="ghost-button" value="More Information" href="/Aliens">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=tFMo3UJ4B4g" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/x2FJsf1ElAgr63Y3PNPtJrcmpoe.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Arrival
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Arrival">
            <input type="submit" class="ghost-button" value="More Information" href="/Arrival">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/vfzE3pjE5G7G7kcZWrA3fnbZo7V.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Blade Runner
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BladeRunner">
            <input type="submit" class="ghost-button" value="More Information" href="/BladeRunner">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=gCcx85zbxz4" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/gajva2L0rPYkEWjzgFlBXCAVBE5.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Blade Runner 2049
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BladeRunner2049">
            <input type="submit" class="ghost-button" value="More Information" href="/BladeRunner2049">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=QWbMckU3AOQ" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/cCTJPelKGLhALq3r51A9uMonxKj.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Dark Phoenix
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/DarkPhoenix">
            <input type="submit" class="ghost-button" value="More Information" href="/DarkPhoenix">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=oATJVC5R0FA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/yJ2emwXWwQc6VHW3fO4GZr0hXBt.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Day of the Dead
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/DayoftheDead">
            <input type="submit" class="ghost-button" value="More Information" href="/DayoftheDead">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=UCrBICYM0yM" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/uLlmtN33rMuimRq6bu0OoNzCGGs.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Downsizing
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Downsizing">
            <input type="submit" class="ghost-button" value="More Information" href="/Downsizing">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=s-HiQ9K2uf4" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/iJAe7tHMlqtiCBcz048yqvXGeM5.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Ex Machina
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/ExMachina">
            <input type="submit" class="ghost-button" value="More Information" href="/ExMachina">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=B34jbC43XzA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/fZXSwgZknp81vmciTb86rw0MejV.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Galaxy Quest
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-family" href="/genre-family">Family</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/GalaxyQuest">
            <input type="submit" class="ghost-button" value="More Information" href="/GalaxyQuest">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=nCCHjKzPzTY" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/v9PoytYkMTNbFuTKHIQYpjR0Fvd.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Gankutsuou: The Count of Monte Cristo
            </h2>
            Japanese
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-animation" href="/genre-animation">Animation</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Gankutsuou:TheCountofMonteCristo">
            <input type="submit" class="ghost-button" value="More Information" href="/Gankutsuou:TheCountofMonteCristo">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/AuHbFy7d25NUgU9ane25nXeKeVK.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Gattaca
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-romance" href="/genre-romance">Romance</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Gattaca">
            <input type="submit" class="ghost-button" value="More Information" href="/Gattaca">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=95ghQs5AmNk" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/svIDTNUoajS8dLEo7EosxvyAsgJ.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Glass
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Glass">
            <input type="submit" class="ghost-button" value="More Information" href="/Glass">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=XsQqMwacZQw" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/yk4J4aewWYNiBhD49WD7UaBBn37.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Her
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-romance" href="/genre-romance">Romance</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Her">
            <input type="submit" class="ghost-button" value="More Information" href="/Her">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=AtOwfo1ypOw" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/x5wLz05SFSk8rv1NpgEc1wx4Cu2.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">High Life
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/HighLife">
            <input type="submit" class="ghost-button" value="More Information" href="/HighLife">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=827FNDpQWrQ" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Interstellar
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Interstellar">
            <input type="submit" class="ghost-button" value="More Information" href="/Interstellar">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=QWBKEmWWL38" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/oU7Oq2kFAAlGqbU4VoAE36g4hoI.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jurassic Park
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JurassicPark">
            <input type="submit" class="ghost-button" value="More Information" href="/JurassicPark">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=RFinNxS5KN4" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/rhr4y79GpxQF9IsfJItRXVaoGs4.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jurassic World
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JurassicWorld">
            <input type="submit" class="ghost-button" value="More Information" href="/JurassicWorld">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Jurassic World: Fallen Kingdom
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/JurassicWorld:FallenKingdom">
            <input type="submit" class="ghost-button" value="More Information" href="/JurassicWorld:FallenKingdom">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=Div0iP65aZo" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/fnbjcRDYn6YviCcePDnGdyAkYsB.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Logan
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Logan">
            <input type="submit" class="ghost-button" value="More Information" href="/Logan">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=22072654" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/fMneszMiQuTKY8JUXrGGB5vwqJf.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Melancholia
            </h2>
            Danish
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Melancholia">
            <input type="submit" class="ghost-button" value="More Information" href="/Melancholia">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=oVgxxdu-gJc" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/heEe6NFekVHs23OKFtqhovyOMXQ.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Midnight Special
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/MidnightSpecial">
            <input type="submit" class="ghost-button" value="More Information" href="/MidnightSpecial">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=twuScTcDP_Q" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/a3j0jrGkoJM2CEVedlFK1MmYmKC.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Moon
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Moon">
            <input type="submit" class="ghost-button" value="More Information" href="/Moon">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=7BWWWQzTpNU" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/n5DpXC4ZxH4dnydcz7qav9iA4U.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Passengers
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-romance" href="/genre-romance">Romance</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Passengers">
            <input type="submit" class="ghost-button" value="More Information" href="/Passengers">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=lQ1q_fTC-a8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/qsYQflQhOuhDpQ0W2aOcwqgDAeI.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Prometheus
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Prometheus">
            <input type="submit" class="ghost-button" value="More Information" href="/Prometheus">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=cSp1dM2Vj48" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/pU1ULUq8D3iRxl1fdX2lZIzdHuI.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Ready Player One
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/ReadyPlayerOne">
            <input type="submit" class="ghost-button" value="More Information" href="/ReadyPlayerOne">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=73jSnAs7mq8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/vgP1ikT5tYv2pAlkpAN1SjGZmsh.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Safety Not Guaranteed
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-romance" href="/genre-romance">Romance</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SafetyNotGuaranteed">
            <input type="submit" class="ghost-button" value="More Information" href="/SafetyNotGuaranteed">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=r6UmqNuMdY4" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/9JPx09Rr0Txq2eSQfjq1DEBR5cx.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Snowpiercer
            </h2>
            Korean
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Snowpiercer">
            <input type="submit" class="ghost-button" value="More Information" href="/Snowpiercer">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=n4sJA-E51bQ" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/o839RFIxPrpgOMKQ21SOQl4908t.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Solaris
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-romance" href="/genre-romance">Romance</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Solaris">
            <input type="submit" class="ghost-button" value="More Information" href="/Solaris">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=enH3xA4mYcY" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/peTl1V04E9ppvhgvNmSX0r2ALqO.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Sorry to Bother You
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SorrytoBotherYou">
            <input type="submit" class="ghost-button" value="More Information" href="/SorrytoBotherYou">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=LFoz8ZJWmPs" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/4q2NNj4S5dG2RLF9CpXsej7yXl.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Spider-Man: Far from Home
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Spider-Man:FarfromHome">
            <input type="submit" class="ghost-button" value="More Information" href="/Spider-Man:FarfromHome">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=g4Hbz2jLxvQ" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Spider-Man: Into the Spider-Verse
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-animation" href="/genre-animation">Animation</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Spider-Man:IntotheSpider-Verse">
            <input type="submit" class="ghost-button" value="More Information" href="/Spider-Man:IntotheSpider-Verse">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=PLLQK9la6Go" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/dwr75V4u87yGQwVLWUptnmFK0x8.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Suicide Squad
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SuicideSquad">
            <input type="submit" class="ghost-button" value="More Information" href="/SuicideSquad">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=GjwfqXTebIY" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/i9GUSgddIqrroubiLsvvMRYyRy0.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Dark Tower
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheDarkTower">
            <input type="submit" class="ghost-button" value="More Information" href="/TheDarkTower">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=grwMv86Af1Y" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ckchcez2u40myIAgkfdVyzofX2T.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Giver
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheGiver">
            <input type="submit" class="ghost-button" value="More Information" href="/TheGiver">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=Ae3vglKCtdo" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/kxcQkAhpn8cvJTsU8PXblI5Qq8F.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Last Days on Mars
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheLastDaysonMars">
            <input type="submit" class="ghost-button" value="More Information" href="/TheLastDaysonMars">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=XvHSlHhh1gk" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/QTESAsBVZwjtGJNDP7utiGV37z.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Lego Movie 2: The Second Part
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-animation" href="/genre-animation">Animation</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-family" href="/genre-family">Family</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheLegoMovie2:TheSecondPart">
            <input type="submit" class="ghost-button" value="More Information" href="/TheLegoMovie2:TheSecondPart">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=fpt0tn1-54k" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/vQ6NifiuDJ1HuFH04stzVojo3T.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Lobster
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-comedy" href="/genre-comedy">Comedy</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-romance" href="/genre-romance">Romance</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheLobster">
            <input type="submit" class="ghost-button" value="More Information" href="/TheLobster">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=ej3ioOneTy8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/5BHuvQ6p9kfc091Z8RiFNhCwL4b.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Martian
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheMartian">
            <input type="submit" class="ghost-button" value="More Information" href="/TheMartian">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=m8e-FF8MsqU" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Matrix
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheMatrix">
            <input type="submit" class="ghost-button" value="More Information" href="/TheMatrix">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=zsgrsiZoymA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/8xEVAe84zlL9rkfYT6dZXero4KK.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Matrix Reloaded
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheMatrixReloaded">
            <input type="submit" class="ghost-button" value="More Information" href="/TheMatrixReloaded">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/cm14gG8xBghwIAy1GX0ryI2HA4U.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Matrix Revolutions
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheMatrixRevolutions">
            <input type="submit" class="ghost-button" value="More Information" href="/TheMatrixRevolutions">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=oXV_CU_ryKs" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/A92VeYebWRm5pC3ZbIPUE7Wzsoa.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Signal
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheSignal">
            <input type="submit" class="ghost-button" value="More Information" href="/TheSignal">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=p35JDJLa9ec" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/tzGY49kseSE9QAKk47uuDGwnSCu.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Thing
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheThing">
            <input type="submit" class="ghost-button" value="More Information" href="/TheThing">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=p35JDJLa9ec" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/tzGY49kseSE9QAKk47uuDGwnSCu.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Thing
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheThing">
            <input type="submit" class="ghost-button" value="More Information" href="/TheThing">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=RyMSRRNHRos" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/hj2sJrUzVmvrP8cgDB0QS6ubwp5.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Zero Theorem
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheZeroTheorem">
            <input type="submit" class="ghost-button" value="More Information" href="/TheZeroTheorem">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=sqf-X89O6AQ" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/uyrdntUMKMkFoaEjHfVz56E5NQs.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Under the Skin
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/UndertheSkin">
            <input type="submit" class="ghost-button" value="More Information" href="/UndertheSkin">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=1hTLGlgZ4Z8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/8fDtXi6gVw8WUMWGT9XFz7YwkuE.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Upgrade
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Upgrade">
            <input type="submit" class="ghost-button" value="More Information" href="/Upgrade">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=u9Mv98Gr5pY" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/2uNW4WbgBXL25BAbXGLnLqX71Sw.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Venom
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Venom">
            <input type="submit" class="ghost-button" value="More Information" href="/Venom">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=PVgUZ2NSzBo" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/aZvOkdo203bm1kpcY0A0Tn074ER.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Watchmen
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Watchmen">
            <input type="submit" class="ghost-button" value="More Information" href="/Watchmen">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=slfrrjPndV4" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/pLMpv8ckcDP3kiEd2fhwY7XrjHz.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">World War Z
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/WorldWarZ">
            <input type="submit" class="ghost-button" value="More Information" href="/WorldWarZ">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=COvnHv42T-A" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/qttNmCib9gHhR5q0QoZ3FgmGom9.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">X-Men: Apocalypse
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-science-fiction" href="/genre-science-fiction">Science-Fiction</a>
<a> - </a>
<a> - </a>
<a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/X-Men:Apocalypse">
            <input type="submit" class="ghost-button" value="More Information" href="/X-Men:Apocalypse">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    </main>
  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
