<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Screenings</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li class="navigation__item"><a href="/" data_test_automation_id="header_home_button">Home</a></li>
                <li class="navigation__item"><a href="/films" data_test_automation_id="header_screenings_button">Screenings</a></li>
                <li class="navigation__item"><a href="/genres" data_test_automation_id="header_genres_button" class="is-active">Genres</a></li>
                <li class="navigation__item"><a href="/random-film" data_test_automation_id="header_random_button">Random Film</a></li>                <li class="navigation__item"><a href="/film-request" data_test_automation_id="header_random_button">Request a Film</a></li>
            </ul>
        </nav>
    </div>  
    <div> <font color="white">-</font></div>
        <div class="grid">
        <ul class="navigation__list navigation__list--inline">
            <li class="navigation__item"><a action="/genre-action" href="/genre-action">Action</a></li>
            <li class="navigation__item"><a action="/genre-adventure" href="/genre-adventure">Adventure</a></li>
            <li class="navigation__item"><a action="/genre-animation" href="/genre-animation">Animation</a></li>
            <li class="navigation__item"><a action="/genre-comedy" href="/genre-comedy">Comedy</a></li>
            <li class="navigation__item"><a action="/genre-crime" href="/genre-crime">Crime</a></li>
            <li class="navigation__item"><a action="/genre-documentary" href="/genre-documentary">Documentary</a></li>
            <li class="navigation__item"><a action="/genre-drama" href="/genre-drama">Drama</a></li>
            <li class="navigation__item"><a action="/genre-family" href="/genre-family">Family</a></li>
            <li class="navigation__item"><a action="/genre-fantasy" href="/genre-fantasy">Fantasy</a></li>
        </ul>
        <ul class="navigation__list navigation__list--inline">
            <li class="navigation__item"><a action="/genre-history" href="/genre-history">History</a></li>
            <li class="navigation__item"><a action="/genre-horror" href="/genre-horror">Horror</a></li>
            <li class="navigation__item"><a action="/genre-music" href="/genre-music">Music</a></li>
            <li class="navigation__item"><a action="/genre-mystery" href="/genre-mystery">Mystery</a></li>
            <li class="navigation__item"><a action="/genre-romance" href="/genre-romance">Romance</a></li>
            <li class="navigation__item"><a action="/genre-science-fiction" href="/genre-science-fiction">SciFi</a></li>
            <li class="navigation__item"><a action="/genre-thriller" href="/genre-thriller">Thriller</a></li>
            <li class="navigation__item"><a action="/genre-war" href="/genre-war">War</a></li>
            <li class="navigation__item"><a action="/genre-western" href="/genre-western" class="is-active">Western</a></li>
        </ul>
    </div>
    </header>

  <main>
    <div class="heading" data_test_automation_id="main_heading">
        <h1>Western</h1>
    </div>

   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=4KNWbfRDEv8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/4MmTHpn2Y8emqvBgvOjufImUmKZ.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Bone Tomahawk
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-horror" href="/genre-horror">Horror</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/BoneTomahawk">
            <input type="submit" class="ghost-button" value="More Information" href="/BoneTomahawk">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/fCQ13cqd02dop7Chkov0fPl4r3t.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Deadwood: The Movie
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>
<a> - </a>
<a action="/genre-tv movie" href="/genre-tv movie">TV Movie</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Deadwood:TheMovie">
            <input type="submit" class="ghost-button" value="More Information" href="/Deadwood:TheMovie">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=JQoqsKoJVDw" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ljRRxqy2aXIkIBXLmOVifcOR021.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Hell or High Water
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/HellorHighWater">
            <input type="submit" class="ghost-button" value="More Information" href="/HellorHighWater">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=vw6C6loqrvE" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/otuBE30CGhmIUznkX0AwkAQerMF.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">In a Valley of Violence
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/InaValleyofViolence">
            <input type="submit" class="ghost-button" value="More Information" href="/InaValleyofViolence">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=HK-Q3wYsOgA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/kmjy8rX4lY2x1UCJIH24VvUtDXJ.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Lawless
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/Lawless">
            <input type="submit" class="ghost-button" value="More Information" href="/Lawless">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=F8Vwm6dBQI8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/pH3J5IUzho4ZVaRuTuErzqHHovb.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Ride with the Devil
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-war" href="/genre-war">War</a>
<a> - </a>
<a> - </a>
<a action="/genre-romance" href="/genre-romance">Romance</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/RidewiththeDevil">
            <input type="submit" class="ghost-button" value="More Information" href="/RidewiththeDevil">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=pFfsTsdJfF8" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/j3PmbRZvf5KpNbapSjn8b0CpD6a.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Slow West
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-romance" href="/genre-romance">Romance</a>
<a> - </a>
<a> - </a>
<a action="/genre-thriller" href="/genre-thriller">Thriller</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SlowWest">
            <input type="submit" class="ghost-button" value="More Information" href="/SlowWest">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=sYKBG1znk4A" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/szJdZCSiEIYybmPymoP2UTEvOUC.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">Sweet Country
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-history" href="/genre-history">History</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/SweetCountry">
            <input type="submit" class="ghost-button" value="More Information" href="/SweetCountry">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=nk0JaEwhf00" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/2d1S6fJS80fvseg6mJE8eq5o7Kx.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Assassination of Jesse James by the Coward Robert Ford
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheAssassinationofJesseJamesbytheCowardRobertFord">
            <input type="submit" class="ghost-button" value="More Information" href="/TheAssassinationofJesseJamesbytheCowardRobertFord">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=WCN5JJY_wiA" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/eWivEg4ugIMAd7d4uWI37b17Cgj.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Good, the Bad and the Ugly
            </h2>
            Italian
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheGood,theBadandtheUgly">
            <input type="submit" class="ghost-button" value="More Information" href="/TheGood,theBadandtheUgly">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=IMGwqSA9rww" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/nZeKw2oDiODgnht9OrohB2jBhjq.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Hateful Eight
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-crime" href="/genre-crime">Crime</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-mystery" href="/genre-mystery">Mystery</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheHatefulEight">
            <input type="submit" class="ghost-button" value="More Information" href="/TheHatefulEight">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=q-RBA0xoaWU" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/ezcS78TIjgr85pVdaPDd2rSPVNs.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Magnificent Seven
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>
<a> - </a>
<a action="/genre-action" href="/genre-action">Action</a>
<a> - </a>
<a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheMagnificentSeven">
            <input type="submit" class="ghost-button" value="More Information" href="/TheMagnificentSeven">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    
   <div data_test_automation_id="film_container">
    <div class="container">
        <ul style="text-align:center;">
            <a target="_blank" href="https://www.youtube.com/watch?v=LoebZZ8K5N0" <div style="text-align:center;"
                data_test_automation_id="film_one_image" Title="Click to view trailer"> <img alt="Image 1" width="300"
                    height="500" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/tSaBkriE7TpbjFoQUFXuikoz0dF.jpg" </div>
            </a>
        </ul>
    </div>

    <div class="container">
        <ul>
            <h2 style="text-align:center;" data_test_automation_id="film_title_one">The Revenant
            </h2>
            English
            <p> </p>
        </ul>
    </div>

    <div class="container">

        <a> - </a>
<a action="/genre-western" href="/genre-western">Western</a>
<a> - </a>
<a> - </a>
<a action="/genre-drama" href="/genre-drama">Drama</a>
<a> - </a>
<a> - </a>
<a action="/genre-adventure" href="/genre-adventure">Adventure</a>
<a> - </a>

        <p> </p>
    </div>
</div>
<div class="container">
    <ul>
        <form action="/TheRevenant">
            <input type="submit" class="ghost-button" value="More Information" href="/TheRevenant">
        </form>
    </ul>
    <h2 style="text-align:center;" class="body-wide" <p>
        ------------------------------------------------------</p>
    </h2>
</div>
    </main>
  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>
